<h1>User info</h1>
 <table class="teble">
	 <thead>
		 <tr>
		  <th class="header1"><%= image_tag @users.get_profile_image(100,100) %></th>
			 <th class="header2"></th>
		 </tr>
	 </thead>
   <tbody>
 	   <tr>
 	    <th>name</th>
 	    <th><%= @users.name %></th>
 	   </tr>
 	   <tr>
 	   	<th>introduction</th>
 	    <th><%= @users.introduction %></th>
 	   </tr>
  </tbody>
</table>
<p>
  <%= link_to "edit", edit_user_path(@users.id) %>
</p>

<h1>Book detail books show</h1>
<table>
 <tbody>
  <td>
   <%= image_tag @book.user.get_profile_image(100,100) %>
   
  </td>
  <td>
   <%=@book.title%>
  </td>
  <td><%=@book.body%></td>
  <td>
   <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book.id) %>
   <% end %>
  </td>
  <td>
   <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
   <% end %>
  </td>
 </tbody>
</table>