<%= render 'list', user: @users, book: @new %>
<div class="col-md-8 offset-md-1">
 <h2>Book detail books show</h2>
  <table class="table table-striped">
   <tbody>
    <td>
     <%= image_tag @book.user.get_profile_image(100,100) %><br>
     <%= link_to user_path(@users) do %>
       <%= @users.name %>
     <% end %>
    </td>
    <td>
     <%=@book.title%>
    </td>
    <td><%=@book.body%></td>
    <td>
     <% if @book.user == current_user %>
      <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
     <% end %>
    </td>
    <td>
     <% if @book.user == current_user %>
      <%= link_to "Destroy", book_path(@book.id), class: "btn btn-danger", method: :delete, "data-confirm" => "Are you sure?" %>
     <% end %>
    </td>
   </tbody>
  </table>
</div>